<!DOCTYPE html>
<html>
<head>
    <title>NFL Statistic Dashboard</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <script src="https://unpkg.com/scrollreveal"></script>

    <style>
        html, body, h1, h2, h3, h4, h5 {
            font-family: 'Raleway', sans-serif;
        }
        .active-page {
            background-color: green !important;
        }
    </style>
</head>
<body class="w3-light-grey">
    <!-- Top container -->
    <div class="w3-bar w3-top w3-black w3-large" style="z-index: 4">
        <button class="w3-bar-item w3-button w3-hide-large w3-hover-none w3-hover-text-light-grey" click="w3_open();">
            <i class="fa fa-pie-chart"></i> Menu
        </button>
        <div class="w3-bar-item w3-right">
            <div class="w3-col s4" style="width: 5vw; height: auto">
                <img src="{{ url_for('static', filename='images/logo-up-dorado.png') }}" style="width: 100%; height: auto" />
            </div>
        </div>
        <span class="w3-bar-item w3-right" style="line-height: 3vw">NFL Statistic Dashboard</span>
    </div>

    <!-- Sidebar/menu -->
    <nav class="w3-sidebar w3-collapse w3-white w3-animate-left" style="z-index: 3; width: 300px; padding-top: 2vw" id="mySidebar">
        <br />
        <div class="w3-container">
            <h5>Dashboard</h5>
        </div>
        <div class="w3-bar-block">
            <a href="/" class="w3-bar-item w3-button w3-padding-16 w3-hide-large w3-dark-grey w3-hover-black" onclick="w3_close()" title="close menu">
                <i class="fa fa-remove fa-fw"></i> Close Menu
            </a>
            <a href="/team" class="w3-bar-item w3-button w3-padding w3-blue">
                <i class="fa fa-users fa-fw"></i> Team
            </a>
            <a href="/database" class="w3-bar-item w3-button w3-padding w3-blue">
                <i class="fa fa-database fa-fw"></i> Database
            </a>
            <a href="/scrape" class="w3-bar-item w3-button w3-padding w3-blue">
                <i class="fa fa-cloud-download fa-fw"></i> Scrape Data
            </a>
            <a href="/chart_current_status" class="w3-bar-item w3-button w3-padding w3-blue">
                <i class="fa fa-pie-chart fa-fw"></i> Current Status
            </a>
            <a href="/college" class="w3-bar-item w3-button w3-padding w3-blue">
                <i class="fa fa-bar-chart fa-fw"></i> Top and worst College
            </a>
            <a href="/nfl_teams" class="w3-bar-item w3-button w3-padding w3-blue">
                <i class="fa fa-bar-chart fa-fw"></i> Rushing TDs received by team
            </a>
            <a href="/nfl_teams_pass" class="w3-bar-item w3-button w3-padding w3-blue">
                <i class="fa fa-bar-chart fa-fw"></i> Passing TDs received by team
            </a>
            <a href="/calendar" class="w3-bar-item w3-button w3-padding w3-blue">
                <i class="fa fa-calendar fa-fw"></i> Calendar
            </a>
        </div>
        </div>
    </nav>

    <!-- Overlay effect when opening sidebar on small screens -->
    <div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor: pointer" title="close side menu" id="myOverlay"></div>

    <!-- !PAGE CONTENT! -->
    <div class="w3-main" style="margin-left: 300px; margin-top: 43px">
        <!-- Header -->
        <header class="w3-container" style="padding-top: 2vw">
            <h5>
                <b><i class="fa fa-pie-chart"></i> Rushing TDs received by team </b>
            </h5>
        </header>

        <!-- Formulario para seleccionar los datos a mostrar en la gráfica -->
        <div class="w3-container w3-padding-32">
            <h5>Select Data for Chart:</h5>
            <form id="chartForm" class="w3-form" method="post" action="{{ url_for('team_top_worst') }}">
                <select name="top" id="topSelect" class="w3-select w3-margin-top">
                    <option value="Top">Top 10 equipos que reciben más TD por tierra</option>
                    <option value="Least">Top 10 equipos que reciben menos TD por tierra</option>
                </select>
                <button type="submit" class="w3-button w3-blue w3-margin-top">Generate Chart</button>
            </form>
        </div>

        <!-- Sección para mostrar la gráfica -->
        <div id="chartContainer" class="w3-container w3-padding-32">
            <img id="chartImage" src="{{ graph_path }}" style="width: 100%; height: auto;" />
        </div>

        <!-- Footer -->
        <footer class="w3-container w3-padding-16 w3-light-grey">
            <p>
                Powered by
                <a href="https://www.up.edu.mx/educacion-universidad-facultad-de-ingenieria/" target="_blank">Universidad Panamericana</a>
            </p>
        </footer>

        <!-- End page content -->
    </div>

    <script>
        // Esperar a que la página se cargue
        document.addEventListener("DOMContentLoaded", function() {
        // Obtener la URL actual
            var currentPath = window.location.pathname;

            // Obtener todos los enlaces en la barra de navegación
            var navLinks = document.querySelectorAll('.w3-bar-item.w3-button');

            // Iterar sobre cada enlace y verificar si su href coincide con la URL actual
            navLinks.forEach(function(link) {
                if (link.getAttribute('href') === currentPath) {
                    // Añadir la clase 'active-page' al enlace actual
                    link.classList.add('active-page');
                }
            });
        });

        // Get the Sidebar
        var mySidebar = document.getElementById('mySidebar');

        // Get the DIV with overlay effect
        var overlayBg = document.getElementById('myOverlay');

        // Toggle between showing and hiding the sidebar, and add overlay effect
        function w3_open() {
            if (mySidebar.style.display === 'block') {
                mySidebar.style.display = 'none';
                overlayBg.style.display = 'none';
            } else {
                mySidebar.style.display = 'block';
                overlayBg.style.display = 'block';
            }
        }

        // Close the sidebar with the close button
        function w3_close() {
            mySidebar.style.display = 'none';
            overlayBg.style.display = 'none';
        }

        // Cambiar la imagen de la gráfica según la opción seleccionada
        document.getElementById('chartForm').addEventListener('submit', function(event) {
            event.preventDefault(); // Prevenir el comportamiento por defecto del formulario

            var topSelect = document.getElementById('topSelect');
            var chartImage = document.getElementById('chartImage');
            var chartContainer = document.getElementById('chartContainer');

            if (topSelect.value === 'Top') {
                chartImage.src = "{{ url_for('static', filename='top_teams_receiving_td.png') }}";
                
            } if (topSelect.value === 'Least') {
                chartImage.src = "{{ url_for('static', filename='buttom_teams_receiving_td.png') }}";
            } else {
                chartImage.src = "{{ url_for('static', filename='top_teams_receiving_td.png') }}";
            }
                
        });
    </script>
</body>
</html>
